/* * {
  border: 1px black solid;
} */

h1 {
  text-align: left;
}

h2 {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-evenly;
}

body, html {
  background-image: linear-gradient(to top, #4123ef 0%, #6fbce9 99%, #cff5fe 100%);
  background-repeat: no-repeat;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.cards {
  padding: 5px;
  border:#9abfff solid 2px;
  background-color:#9abfff;
  border-radius: 5px;
}

.header-img {
  opacity: 70%;
  
}