html {
  height: 100cqmax 100cqmin;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #4123ef 0%, #6fbce9 99%, #cff5fe 100%);
  transition: transform 250ms ease-out;
}
  

.header-img {
  width: 100cqmax;
}

.main {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 3%;
  padding-bottom: 7%;
}

.cards {
  width: 90cqmax fit-content;
  background-color: #8f8af6;
  color: aliceblue;
  padding-right: 5%;
}

h3 {
  text-align: center;
}

.quotes {
  font-style: italic;
  font-size: x-large;
  color: yellow;
  text-align: center;
}

.activity-chart {
  max-width:400px;
  min-width:100px;
  max-height: 400px;
  min-height:100px;
}

.hydration-chart {
  max-width:400px;
  min-width:100px;
  max-height: 400px;
  min-height:100px;
}

.sleep-chart {
  max-width:400px;
  min-width:100px;
  max-height: 400px;
  min-height:100px;
}

.quality-sleep-chart {
  max-width:400px;
  min-width:100px;
  max-height: 400px;
  min-height:100px;
}